:root {
    --color-primario: #46494C;
    --color-secundario: #1985A1;
    --fuente-titulos: "Montserrat", sans-serif;
    --fuente-texto: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fuente Titulos */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* Fuente para texto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* font-family: "Montserrat", sans-serif; */

* {
    margin: 0;
    padding: 0; 
    font-size: 15px;
    font-family: var(--fuente-texto);       
}

h1, h2, h3 {
    font-family: var(--fuente-titulos);
    color: var(--color-primario);
}

h2 {
    text-align: center;
    font-size: 25px;
    padding: 30px;    
}

header {
    height: 40px;
    background-color: var(--color-secundario);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;    
    color: white;
    font-family: var(--fuente-titulos);
    font-size: 16px;         
}
header nav ul li a:hover {
    text-decoration: underline;        
}

#banner {
    background-color: var(--color-primario);
    color: white;
}

.container_banner {
    display: flex;    
    justify-content: center;   
    align-items: center;     
    gap: 30px;
    padding: 50px;

}

.sobre_nosotros,
.nosotros_img {
    width: 50%;   
    padding: 30px;         
}

.sobre_nosotros h1 {
    font-size: 40px;
    padding: 10px;
    color: white;
}
.sobre_nosotros p {
    font-size: 18px;          
}

.nosotros_img img {
    background-color: var(--color-secundario);  
    border-radius: 5px;         
}

#servicios {
    padding: 30px;    
}

.contenedor_categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 30px;
    gap: 20px;
}

.contenedor_categorias a {
    text-decoration: none;
}

.categoria {
    display: flex;
    align-items: center;    
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    transition: 0.3s transform; 
    box-shadow: 1px 1px 3px 0px rgba(70,73,76,0.39);
}
.categoria:hover {
    transform: scale(1.03);
}
.categoria img {
    width: 35%;
    background-color: #f5f5f5;
}
.categoria h3 {
    width: 65%;     
}
.categoria h3:hover {
    color: var(--color-secundario);
}

hr {
    width: 80%;
    margin: 20px auto;
    color: var(--color-primario);
    opacity: 30%;    
}


#productos {
    padding: 30px;
}

.contenedor_tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 30px;
    gap: 30px;    
}

.tarjeta {
    width: 300px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    padding: 20px;
    transition: 0.3s transform;    
    box-shadow: 1px 1px 3px 0px rgba(70,73,76,0.39);
}

.tarjeta h3,
.tarjeta p,
.tarjeta a {
    margin: 10px;
    text-align: center;
}

.tarjeta:hover {
    transform: scale(1.03);
}
.tarjeta p {
    color: var(--color-secundario);
    font-weight: bolder;    
}


.tarjeta a {
    background-color: var(--color-secundario);
    text-decoration: none; 
    padding: 7px;
    border-radius: 5px;    
    display: flex;  
    align-items: center; 
    justify-content: center;
    box-shadow: 1px 1px 3px 0px rgba(70,73,76,0.39);
}
.tarjeta a:hover {
    background-color: #1fa0c0;
    
}

.tarjeta a i,
.tarjeta a p {
    color: white;    
}

.tarjeta img {
    width: 100%;    
}

#contacto {
    min-height: 80vh;
}

form {
    width: 400px;
    margin: 0 auto;    
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 1px 1px 3px 0px rgba(70,73,76,0.39);
    background-color: #f5f5f5;
}

label,
input,
textarea,
button {
    display: block;
    width: 90%;
    margin: 5px auto;
}

input,
textarea {
    padding: 5px 0;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
}

textarea {
    margin-bottom: 20px;        
}

button {
    margin-bottom: 10px;
    border: 0;
    padding: 5px;
    cursor: pointer;
    background-color: var(--color-secundario);
    color: white;
    font-size: 15px;
    border-radius: 2px;
}
button:hover {
    background-color: #1fa0c0;
}

.skewed-container {
    position: relative;
    overflow: hidden;
    background-color: var(--color-primario);
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: white;
    z-index: 0;
    transform: skewY(12deg);
    transform-origin: top right;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
    height: 50vh;
}


.redes {
    display: flex;
    flex-direction: column;      
}

.redes h3 {
    color: white;
    margin-bottom: 10px;
}

.redes a {
    display: flex;
    gap: 7px;
    text-decoration: none;    
}

.redes a i {
    color: white;
    font-size: 25px;
}
.redes a span {
    color: white;
}
.redes a span:hover {
    text-decoration: underline;
}

.wsp i {
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:29vh;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;           
}
.wsp i:hover{
    background: #20ba5a;
}

footer {
    background-color: var(--color-primario);
    height: 20vh;
    padding: 30px;   
}


@media (max-width: 880px) {
    .container_banner {
        flex-wrap: wrap                             
    }

    .sobre_nosotros,
    .nosotros_img {
        width: 100%;                
    }

    #productos {
        padding: 0;
    }

    .contenedor_tarjetas {
        grid-template-columns: repeat(2, 1fr);                          
    }        
}

@media (max-width: 480px) {
    .sobre_nosotros {
        padding: 0;
    }
    .nosotros_img img {
        display: none;
    }

    .contenedor_tarjetas {
        grid-template-columns: repeat(1, 1fr);    
        padding: 0;                        
    } 

    form {
        width: 80%;
    }    
}