:root {
    --color-primario: #46494C;
    --color-secundario: #1985A1;
    --fuente-titulos: "Montserrat", sans-serif;
    --fuente-texto: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fuente Titulos */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* Fuente para texto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* font-family: "Montserrat", sans-serif; */

* {
    margin: 0;
    padding: 0; 
    font-size: 15px;
    font-family: var(--fuente-texto);       
}

h1, h2, h3 {
    font-family: var(--fuente-titulos);
    color: var(--color-primario);
}

h2 {
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}

header {
    height: 40px;
    background-color: var(--color-secundario);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;    
    font-weight: 600;
    color: var(--color-primario);
    font-family: var(--fuente-titulos);
}
header nav ul li a:hover {
    color: white;
}

#banner {
    height: 90vh;
    background-color: var(--color-primario);
    color: white;
    display: flex;
    align-items: center;      
}

.sobre_nosotros,
.nosotros_img {
    width: 50%; 
    padding: 50px;   
}

.sobre_nosotros h1 {
    font-size: 40px;
    padding: 10px;
    color: white;
}
.sobre_nosotros p {
    font-size: 18px;        
}

.nosotros_img img {
    background-color: var(--color-secundario);  
    width: 80%;
    border-radius: 5px;         
}

#servicios {
    padding: 30px;    
}

.contenedor_categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 30px;
    
}

.contenedor_categorias a {
    text-decoration: none;
}

.categoria {
    display: flex;
    align-items: center;    
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
}
.categoria img {
    width: 35%;
    background-color: #f5f5f5;
}
.categoria h3 {
    width: 65%;     
}
.categoria h3:hover {
    color: var(--color-secundario);
}